<div class="card" (click)="onClose()">
    <div class="card__image">
        <img src="images/illustration-thank-you.svg" alt="Image of a phone">
    </div>
    <div class="card__tag">
        <p class="tag">You selected {{value()}} out of 5</p>
    </div>
    <div class="card__description">
        <h1 class="title">Thank you!</h1>
        <p class="text">We appreciate you taking the time to give a rating. If you ever need more support,
            don’t hesitate to get in touch!</p>
        <p class="back">Close this card by clicking on the it or it will close automatically after 5s!</p>
    </div>
</div>