<div class="card">
    <div class="card__icon">
        <img src="images/icon-star.svg" alt="star icon">
    </div>
    <div class="card__description">
        <h1 class="title">How did we do?</h1>
        <p class="text">Please let us know how we did with your support request. All feedback is appreciated to
            help
            us improve our offering!</p>
    </div>
    <form class="card__form">
        <div class="rating">
            <label for="1" aria-label="1 star">
                <input type="radio" id="1" name="rating" value="1" [(ngModel)]="reviewValue">
            </label>

            <label for="2" aria-label="2 star">
                <input type="radio" id="2" name="rating" value="2" [(ngModel)]="reviewValue">
            </label>

            <label for="3" aria-label="3 star">
                <input type="radio" id="3" name="rating" value="3" [(ngModel)]="reviewValue">
            </label>

            <label for="4" aria-label="4 star">
                <input type="radio" id="4" name="rating" value="4" [(ngModel)]="reviewValue">
            </label>

            <label for="5" aria-label="5 star">
                <input type="radio" id="5" name="rating" value="5" [(ngModel)]="reviewValue">
            </label>
        </div>
        <button type="submit" class="submit-button" (click)="onSubmit()">Submit</button>
    </form>
</div>